.banner_container {
    position: relative;
}


.banner {
    background-image: url(../../../img/capanoticia.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 300px;
    margin-top: 50px;
    opacity: 0.8;
    position: relative;
}

.banner:hover {
    opacity: 1;
    cursor: pointer;
}

.banner__titulo {
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-size: 48px;
    line-height: 55px;

    position: absolute;
    top: 80px;
    left: 40px;
}

.banner__texto {
    color: var(--cor-cinza);
    font-family: var(--fonte-segundaria);
    font-weight: 500;
    font-size: 20px;
    line-height: 32px;

    position: absolute;
    top: 153px;
    left: 45px;
}


.banner__input {
    color: #989898;
    font-family: var(--fonte-principal);
    background-color: var(--cor-cinza-escuro);

    font-size: 20px;
    line-height: 25px;

    border: none;
    box-sizing: border-box;
    width: 100%;
    height: 60px;

    margin-top: 42px;

    padding-left: 25px;

    outline: none;
}

.banner__input:focus {
    border: 1px solid var(--cor-roxa);
}

.fa-magnifying-glass {
    color: #989898;
    font-size: 24px;
    position: absolute;
    top: 360px;
    right: 35px
}


@media screen and (max-width: 500px) {
    .banner__titulo {
        left: 22px;
    }
    .banner__texto {
        left: 20px;
    }   

    .banner__input {
        font-size: 14px;
    }
    .fa-magnifying-glass {
        font-size: 20px;
        top: 365px;
        right: 20px;
    }
}
