.banner__titulo {
    color: var(--cor-branco);
    font-family: var(--fonte-principal);
    font-size: 36px;
    line-height: 55px;
    margin: 95px 0 10px 0;
}

.banner__texto {
    color: var(--cor-cinza);
    font-family: var(--fonte-segundaria);
    font-weight: 500;
    font-size: 24px;
    line-height: 55px;
}


.banner__data {
    color: var(--cor-cinza);
    font-family: var(--fonte-segundaria);
    font-weight: 400;
    font-size: 18px;
    line-height: 55px;
}

.banner__imagem {
    background-image: url(../../../img/capa-noticia.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 450px;
    display: inline-block;
    position: relative;
}

.banner--2 {
    background-image: url(../../../img/homememulhernachuva.svg);
}

.new-lorem {
    color: var(--cor-branco);
    background-color: var(--cor-roxa);
    font-family: var(--fonte-principal);
    padding: 5px 20px;
    border-radius: 3px;
    position: absolute;
    left: 14px;
    top: 14px;
}

.banner__texto--conteudo {
    color: var(--cor-cinza);
    font-family: var(--fonte-segundaria);
    font-weight: 400;
    font-size: 24px;
    line-height: 40px;
    margin: 43px 0;
}

@media screen and (max-width:425px) {
    .banner__titulo {
        margin-top: 50px;
    }
}